H1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(229, 232, 34);
    font-family: 'Undertale', sans-serif;
    -webkit-text-stroke: 1px black; /* espessura e cor */
    font-size: xxx-large;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url(https://static.wikia.nocookie.net/undertale/images/a/ac/Tem_Shop_location.png/revision/latest?cb=20230713114911&path-prefix=pt-br);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

@font-face {
    font-family: 'Undertale';
    src: url('undertale-deltarune-text-font-extended.ttf') format('truetype');
}
@font-face {
    font-family: 'Trajan-Pro';
    src: url('trajan-pro-bold.otf') format('truetype');
}

.Produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    height: fit-content ;
    width: 250px;
    margin: 0px 50px;
    background-color: rgb(229, 229, 229);
    border: 3px solid black;

}

.Produtoimg{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.Produtonome, .Produtopreço, .Produtoparcelado{
    font-family: 'Trajan-Pro', serif;
    color: black;
    margin: 5px 0;

}

.Produtoparcelado{
    font-size: 10px;
    max-width: 200px;
}

.Produtopreço{
    font-weight: 700;
}

.Compra{
    display: flex;
    align-items: center;
}

.Comprarbtn, .Quantidade{
 margin: 10px 20px;
}

.Comprarbtn{
width: 100px;
border-radius: 12px;
background-color: rgb(255, 255, 255);
}

.Comprarbtn:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color : white;
    transition: 200ms;
}

.Quantidade{
    width: 50px;
    height: 30px;
    border-radius: 12px;
}

.cor{
text-align: center;
background-color: rgb(255, 0, 0);
width: 250px;
border-radius: 9.5px;
height: 150px;

}

.contanderprodutos{
    display: flex;
    margin: 40px 0;
}